<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{!!data.title ? data.title : 'Warning'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [innerHTML]="data.message"></p>
</div>
<div class="modal-footer" *ngIf="!!data">
  <button  type="button" class="btn btn-outline-dark"
          (click)="executeAction(data.actionButtons[0].onAction)">{{data.actionButtons[0].text}}</button>
  <button *ngIf="!!data.actionButtons[0].cancelText" type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('')">
    {{data.actionButtons[0].cancelText}}
  </button>
</div>
